/*Universal*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lora', serif;
    font-size: 10px;
    border: none;
}
/*Interaction Animation*/
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*Header*/
header {
    position: fixed;
    height: 5rem;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    top: 0;
    background-color: white;
    z-index: 1;
}

#desktop {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#desktop a {
    margin-right: 2%;
    padding: 0.4% 1%;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    display: inline-block;
    position: relative;
}
#desktop a::before {/*Underline-Animation*/
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom left;
    transition: transform 1s ease-out;
}
#desktop a:hover::before {/*Underline-Animation*/
    transform: scaleX(1);
    transform-origin: bottom left;
}

#mobile {
    display: none;
}

@media only screen and (max-width: 700px) {
    #desktop {
        justify-content: space-around;
    }
}
/*Changing nav from text to icons*/
@media only screen and (max-width: 500px)   {
    #desktop {
        display: none;
    }

    #mobile {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    #mobile a {
        margin-right: 5%;
        display: flex;
        align-items: center;
    }
    #mobile a:hover {/*Shaking-Animation*/
        animation: shake 0.9s;
        animation-iteration-count: 1;
    }
}
/*Main*/
main {
    margin: 7rem 2% 0 2%;
}
/*About Me*/
#about-me {
    display: grid;
    grid-template: 4rem minmax(20rem, auto) minmax(10rem, auto) / 3fr 1fr;
    grid-template-areas: 
        "title title"
        "info info"
        "quote quote";
    grid-gap: 2% 1%;
    margin-bottom: 2%;
}
#about-me h1 {
    grid-area: title;
    justify-self: center;
    align-self: center;
}

.title {
    width: 75%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    overflow: hidden;
    opacity: 0.3;
}
.title:before, .title:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: center;
    width: 50%;
    opacity: 0.3;
    top: -4px;
}
.title:before {
    right: 0.5em;
    margin-left: -50%;
}
.title:after {
    left: 0.5em;
    margin-right: -50%;
}

#about-me article {
    grid-area: info;
    font-size: 2rem;
    align-self: center;
    margin-left: 3%;
}
#about-me article h2 {
    font-family: 'Galada', cursive;
    font-size: 4rem;
    line-height: 0.9;
}
#apear:hover span {
    display: none;
}
#apear:hover::after {
    content: "Thirugnanasampanthamoorthy Sathurjan";
}

#about-me aside {
    grid-area: quote;
    font-size: 3rem;
    opacity: 0.5;
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    margin-left: 3%;
}
#about-me aside p {
    font-size: 2rem;
}

#about-me figure {
    grid-area: pic;
    padding-left: 2rem;
    border-left: 1px dashed black;
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 930px) {
    #about-me {
        grid-template: 4rem minmax(20rem, auto) minmax(10rem, auto) / 10rem;
        grid-template-areas: 
            "title title"
            "info info"
            "quote quote";
        grid-gap: 1rem 2rem;
    }

    #about-me article, #about-me aside {
        margin-left: 0;
    }

    #about-me figure {
        padding: 0;
        border: 0;
        align-self: flex-start;
    }
}
@media only screen and (max-width: 660px) {
    #apear:hover::after {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 500px) {
    #about-me {
        grid-template: 4rem 13rem minmax(12rem, auto) minmax(30rem, auto) / 1fr;
        grid-template-areas: 
            "title"
            "quote"
            "info"
            "info";
        grid-gap: 0;
    }
    
    #about-me article {
        text-align: center;
    }
    #apear {
        font-size: 3rem;
    }

    #about-me aside {
        align-self: center;
        text-align: center;
        margin-bottom: 5%;
    }
}
/*Projects*/
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

#projects article {
    margin-top: 2%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.project {
    height: 20vw;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
}
#pr2:hover {
    background-image: none;
}
#pr2:hover .live {
    display: block;
}
#pr2:hover .code {
    display: block;
}
#pr3:hover {
    background-image: none;
}
#pr3:hover .live {
    display: block;
}
#pr3:hover .code {
    display: block;
}
#pr4:hover {
    background-image: none;
}
#pr4:hover .live {
    display: block;
}
#pr4:hover .code {
    display: block;
}
#pr1:hover {
    background-image: none;
}
#pr1:hover .code {
    display: block;
}
.live, .code {
    display: none;
    font-size: 2rem;
    padding: 0.1vw 3vw;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}
.project a:hover {
    background-color: #f4f4f4;
}
.live {
    margin-bottom: 20%;
}
#pr2 {
    background-image: url(./Images/2021-11-17.png);
    background-size: cover;
}
#pr3 {
    background-image: url(./Images/2021-11-17\ \(1\).png);
    background-size: cover;
}
#pr4 {
    background-image: url(./Images/2021-11-17\ \(2\).png);
    background-size: cover;
}
#pr1 {
    background-image: url(./Images/2022-04-14\ \(5\).png);
    background-size: cover;
}
@media only screen and (max-width: 700px) {
    #projects article {
        flex-wrap: wrap;
        justify-content: center;
    }
    .project {
        width: 45%;
        margin: 1%;
        height: 45vw;
    }
}
@media only screen and (max-width: 500px) {
    .project {
        width: 100%;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }
    .live, .code {
        margin: 0;
    }
}
/*Skills*/
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills #skill {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
#skill figure img {
    height: 10rem;
}
#skill figure figcaption {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}
/*Footer*/
footer {
    margin-top: 2%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
#contacts {
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2vw;
}
#contacts img {
    margin-right: 10px;
}
#contacts a, #contacts p {
    display: flex;
    align-items: center;
}
#contacts a {
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 500px) {
    #contacts {
        flex-direction: column;
        align-items: center;
        font-size: 3vw;
    }
}